{% extends 'ru/base.html' %}
{% load static %}

{% block title %}
    Туркмен Халы - О нас
{% endblock %}

{% block active_about_us %}
    active
{% endblock %}

{% block lang_tm %}
	{% url 'about_us' %}
{% endblock %}


{% block body %}
    {% if background %}
        {% for b in background %}
            <section class="section-lg text-center  bg-image"
                     style="background-image: url({{ b.image.url }}); ">
        {% endfor %}
    {% else %}
        <section class="section-lg text-center bg-image"
                 style="background-image: url({% static 'images/for_background.jpg' %}); ">
    {% endif %}

<div class="container container-fluid">
    <div class="row justify-content-sm-center">
        <div class="col-sm-12 col-xxl-11">
            <h2 class="text-white">О Нас</h2>
            <ul class="breadcrumbs-custom">
                <li>
                    <a href="{% url 'home_ru' %}">Главная</a>
                </li>
                <li class="active">О нас</li>
            </ul>
        </div>
    </div>
</div>
</section>
    <div class="mb-5 mt-5 container">
        <div id="carouselExampleIndicators" class="carousel slide mb-4">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/turkmenhali_2.jpg' %}" loading="lazy" class="d-block" width="1300"
                         height="500" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/turkmenhali_3.jpg' %}" loading="lazy" class="d-block w-100"
                         style="width: 1300px; height: 750px;" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2 class="mb-2" style="font-family: 'Poppins', sans-serif;">О Государственном объединении</h2>
        <hr>
        <p style="font-size: 20px; color: #1b1b1b" class="text-left text-break">
            Государственное объединение «Туркменхалы» является основным поставщиком на мировой рынок знаменитых
            туркменских чистошерстяных ворсовых ковров ручной выработки из Туркменистана.
            Основными видами деятельности объединия являются производство и реализация туркменских ковров и ковровых
            изделий, сохранение традиций ручного ковроделия, восстановление старинных ковровых орнаментов и изделий.
            ГО «Туркменхалы» в своем составе объединяет 8 предприятий художественного ковроделия, которые имеют
            несколько ковровых участков и цехов, расположенных во всех велаятах Туркменистана. На предприятиях
            художественного ковроделия работают около 5 тыс. ковровщиц.
            На ковровых фабриках объединия, наряду с орнаментальными, сюжетными коврами, ковровыми портретами и
            сувенирными изделиями, в основном, вырабатываются классические образцы туркменских ковров. Это вызвано не
            только большим спросом ковров на внутреннем и внешнем рынках, а прежде всего тем, что это великое наследие
            художественной культуры туркменского народа.
            Отличительной особенностью туркменских ковров являются изумительная красота и долговечность, которые
            заложены в традициях ковроткачества. За многовековую историю своего существования ковровое искусство
            достигло высокого совершенства и художественной выразительности узоров. В узорах туркменских ковров заложена
            история происхождения туркменского народа, его философия и мировоззрение.
            По технике исполнения и эстетическому содержанию туркменский ковер относится к разряду антиквариата. Одним
            из главных достоинств этого ковра является его высокая плотность, которая составляет от 200 до 400 тыс.
            узлов в одном квадратном метре и более. Благодаря высокой плотности орнамент ковра четкий и выразительный.
            Цветовая гамма ковра сдержанна и благородна.
            Туркменский ковер имеет ещё одно удивительное достоинство. Не старея с годами, он приобретает новые
            свойства: краски становятся более благородными, а поверхность бархатистой.</p>
    </div>
{% endblock %}
