{% load static %}

<div class="col-xl-6 wow fadeInDown" data-wow-delay=".3s">
    <div class="tabs-complex-title">
        <h3>История</h3>
    </div>
    <hr>
    <div class="row mt-5 mt-1 pb-4 pt-2" style="background-color: #F3F3F3;">
        <div class="container container-fluid col-lg-8 mb-2 text-break text-dark">
            Ковры: от древнего искусства до современного интерьера

            Ковры - это не просто предметы интерьера, а произведения искусства, которые имеют богатую историю. Первые
            ковры были изготовлены в Средней Азии около 4000 лет назад. Они были сделаны из овечьей шерсти и были
            простыми по дизайну. Со временем искусство ковроткачества распространилось по всему миру, и ковры стали
            изготавливаться из различных материалов и в различных стилях.

            В Средние века ковры были очень ценными предметами роскоши. Они использовались для украшения дворцов и
            богатых домов. Ковры также были важными религиозными артефактами. Они использовались в мечетях и храмах для
            создания уютной и духовной атмосферы.

            В эпоху Возрождения ковры стали более доступными для среднего класса. Они стали популярными предметами
            интерьера в домах и квартирах. Ковры также стали использоваться в качестве подарков и сувениров.

            В современном мире ковры продолжают оставаться популярными предметами интерьера. Они используются для
            украшения домов, офисов и общественных помещений. Ковры также являются важными предметами декора в различных
            культурах.
        </div>
        <div class="col">
            <img class="w-100 h-100 pt-2" alt="image" style="object-fit: cover;" src="{% static 'images/turk32.jpg' %}"/>
        </div>
    </div>
</div>