{% load static %}

<div class="col-xl-6 wow fadeInDown" data-wow-delay=".3s">
    <h3>История</h3>
    <hr>
    <div class="quote-carousel-wrap-vertical">
        <div class="slick-slider carousel-parent" data-arrows="false" data-loop="true"
             data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel"
             data-for="#child-carousel" data-vertical="false" data-xs-vertical="false"
             data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true">
            <div class="item">
                <div class="quote-box quote-box-mod-1">
                    <div class="quote-box-header"><img src="assets/img/quote-img-01-49x45.png"
                                                       alt="" width="49" height="45">
                        <h4 class="quote-box-title"><a class="link link-gray-darker"
                                                       href="#">Great atmosphere and lots of
                            impressive paintings</a>
                        </h4>
                    </div>
                    <div class="quote-box-body"><q>My friend is an art connoisseur, so she
                        brought me
                        here and I’m amazed. I got to see so many different
                        types of beautiful art in one place, so I’m thrilled
                        and I feel like Art Gallery helps me develop my
                        taste for art. I think it’s nice that there’s a big
                        range of prices and I’m considering buying a
                        painting here.</q></div>
                    <div class="quote-box-footer">
                        <div class="quote-box-cite"><cite>ANNA
                            BROWN</cite><span>Programmer</span></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="quote-box quote-box-mod-1">
                    <div class="quote-box-header"><img src="assets/img/quote-img-01-49x45.png"
                                                       alt="" width="49" height="45">
                        <h4 class="quote-box-title"><a class="link link-gray-darker"
                                                       href="#">The best art gallery in the whole
                            state!</a></h4>
                    </div>
                    <div class="quote-box-body"><q>I’ve been looking for art for quite some time
                        and I
                        went to your gallery last month. It’s a nice space,
                        easy to walk around and some of the artists’ work is
                        very, very nice. I’ve been very lucky today, I’ve
                        bought four pieces. The pieces are from different
                        coutnries. I’d recommend everyone to come here.
                        That’s exactly what I like in your gallery.</q></div>
                    <div class="quote-box-footer">
                        <div class="quote-box-cite"><cite>Jane
                            Neddery</cite><span>Manager</span></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="quote-box quote-box-mod-1">
                    <div class="quote-box-header"><img src="assets/img/quote-img-01-49x45.png"
                                                       alt="" width="49" height="45">
                        <h4 class="quote-box-title"><a class="link link-gray-darker"
                                                       href="#">You have a great team of artists</a>
                        </h4>
                    </div>
                    <div class="quote-box-body"><q>One of my relatives invited me to your recent
                        exhibition and I must say I am delighted to see a
                        lot of spectacular paintings done by young and
                        aspiring artists. I think every true fan of fine art
                        should visit your gallery at least once.</q></div>
                    <div class="quote-box-footer">
                        <div class="quote-box-cite"><cite>MARY WILSON</cite><span>Top
                                                        Model</span></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="quote-box quote-box-mod-1">
                    <div class="quote-box-header"><img src="assets/img/quote-img-01-49x45.png"
                                                       alt="" width="49" height="45">
                        <h4 class="quote-box-title"><a class="link link-gray-darker"
                                                       href="#">All kinds of art styles and
                            paintings</a></h4>
                    </div>
                    <div class="quote-box-body"><q>
                        I love your exhibitions; there are many different
                        styles of paintings and a big range of types of art
                        with affordable prices. Seeing so much variety of
                        art is exciting and there’s something for everyone.
                        I’ve never been to a gallery before, but after
                        visiting your gallery I fell in love with fine
                        art.</q></div>
                    <div class="quote-box-footer">
                        <div class="quote-box-cite"><cite>Bryan
                            ADAMS</cite><span>Journalist</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-slider" id="child-carousel" data-for=".carousel-parent"
             data-arrows="false" data-loop="true" data-dots="false" data-swipe="true"
             data-center-mode="false" data-sm-center-mode="true" data-md-center-mode="true"
             data-lg-center-mode="true" data-center-padding="0.50" data-items="1"
             data-md-items="3" data-lg-items="3" data-xl-items="3" data-slide-to-scroll="1"
             data-vertical="false" data-xs-vertical="false" data-sm-vertical="true"
             data-md-vertical="true" data-lg-vertical="true">
            <div class="item">
                <figure>
                    <img class="rounded-circle" src="assets/img/about-04-111x111.jpg" alt=""
                         width="111" height="111">
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img class="rounded-circle" src="assets/img/about-02-111x111.jpg" alt=""
                         width="111" height="111">
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img class="rounded-circle" src="assets/img/about-03-111x111.jpg" alt=""
                         width="111" height="111">
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img class="rounded-circle" src="assets/img/about-05-111x111.jpg" alt=""
                         width="111" height="111">
                </figure>
            </div>
        </div>
    </div>
</div>