{% load static %}

<div class="col-xl-6 wow fadeInDown" data-wow-delay=".3s">
    <div class="tabs-complex-title">
        <h3>Taryh</h3>
    </div>
    <hr>
    <div class="row mt-4 pt-2" style="
    background-color: #F3F3F3; padding-bottom: 60px;">
        <div class="container container-fluid col-lg-8 mb-2 text-break text-left text-dark p-5">
            Halylar: gadymy sungatdan häzirki zaman interýerlerine çenli

            Halylar diňe bir içerki önümler däl, eýsem baý taryhy bolan sungat eserleri.
            Ilki bilen
            halylar takmynan 4000 ýyl ozal Merkezi Aziýada edilipdi. Olar goýun ýüňünden ýasalypdyr we bolupdyr
            dizaýnda ýönekeý. Wagtyň geçmegi bilen haly dokamak sungaty bütin dünýä ýaýrady we haly dokaldy
            dürli materiallardan we stillerden ýasaldy.

            Orta asyrlarda halylar gaty gymmatbaha zatlardy. Köşkleri bezemek üçin ulanylýar we
            baý jaýlar. Halylar möhüm dini eserlerdi. Metjitlerde we ybadathanalarda ulanylýar
            Üçin
            amatly we ruhy atmosfera döretmek.

            Galkynyş döwründe halylar orta gatlak üçin has elýeterli boldy. Olar meşhur zatlara öwrüldi
            jaýlarda we kwartiralarda içerki dizaýn. Halylar sowgat we ýadygärlik hökmünde hem ulanylyp başlandy.

            Häzirki zaman dünýäsinde halylar içerki önümleriň meşhur bolmagyny dowam etdirýärler. Ulanylýar
            Üçin
            jaýlaryň, ofisleriň we köpçülik ýerleriniň bezegi. Halylar hem möhüm bezeg önümleri
            dürli
            medeniýetleri.
        </div>
        <div class="col">
            <img class="w-100 h-100 pt-2" alt="image" style="object-fit: cover;"
                 src="{% static 'images/turk32.jpg' %}"/>
        </div>
    </div>
</div>