{% load static %}

<section class="text-center section section-md bg-default text-md-left">
    <div class="container-wide isotope-wrap">
        <div class="row justify-content-sm-center row-75 overflow-hidden">
            <div class="col-xl-6 offset-xl-0 wow fadeInUp" data-wow-delay=".2s">
                <div class="tabs-custom tabs-horizontal tabs-complex" id="tabs-2">
                    <div class="tabs-complex-title isotope-filters" id="isotope-1">
                        <h3>
                            <a href="{% url 'gallery' %}">
                                <span>
                                    Bahalar
                                </span>
                            </a>
                        </h3>
                        <ul class="nav nav-tabs mb-2">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab"
                                   href="#" data-isotope-filter="tabs-2-1"
                                   data-isotope-group="gallery" style="font-size: 14px;">
                                    Uly halylar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   data-toggle="tab"
                                   data-isotope-filter="tabs-2-2"
                                   data-isotope-group="gallery"
                                   href="#" style="font-size: 14px;">
                                    Haly önümleri
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab"
                                   data-isotope-filter="tabs-2-3"
                                   data-isotope-group="gallery"
                                   href="#" style="font-size: 14px;">
                                    Beýlekiler
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="tab-content isotope" data-isotope-layout="fitRows" data-isotope-group="gallery"
                         data-lightgallery="group">
                        {% for g in gallery_big_carpet %}
                            <div class="bounce animated tab-pane fadeInDown active isotope-item container-wide"
                                 data-filter="{{ g.category }}">
                                <div class="services-single-box">
                                    <div class="services-single-header">
                                        <div class="services-single-title">
                                            <span> {{ g.name }} </span></div>
                                        <div class="services-single-price"><span>{{ g.price }} тмт</span></div>
                                    </div>
                                    <p class="services-single-body text-break"> {{ g.description }}</p>
                                </div>
                            </div>
                        {% empty %}
                            <div>
                                Пока цен на ковров нету!
                            </div>
                        {% endfor %}
                        {% for g in gallery_products %}
                            <div class="bounce animated tab-pane fadeInDown active isotope-item container-wide"
                                 data-filter="{{ g.category }}">
                                <div class="services-single-box">
                                    <div class="services-single-header">
                                        <div class="services-single-title">
                                            <span> {{ g.name }} </span></div>
                                        <div class="services-single-price"><span>{{ g.price }} тмт</span></div>
                                    </div>
                                    <p class="services-single-body text-break"> {{ g.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        {% for g in gallery_accessories %}
                            <div class="bounce animated tab-pane fadeInDown active isotope-item container-wide"
                                 data-filter="{{ g.category }}">
                                <div class="services-single-box">
                                    <div class="services-single-header">
                                        <div class="services-single-title">
                                            <span> {{ g.name }} </span></div>
                                        <div class="services-single-price"><span>{{ g.price }} тмт</span></div>
                                    </div>
                                    <p class="services-single-body text-break"> {{ g.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include 'tm/history.html' %}
        </div>
    </div>
</section>