{% load static %}

<style>
    h3, span {
        font-family: 'Poppins', sans-serif;
    }
</style>

<section id="gallery" class="text-center section section-md bg-default text-md-left">
    <div class="container-wide">
        <div class="row align-items-center row-10">
            <div class="col-md-6">
                <h3>Our Carpets</h3>
            </div>
            <div class="col-md-6 text-md-right">
                <a class="heading-link link-gray-darker"
                   href="{% url 'gallery_en' %}"> <span>Show all</span>
                </a>
            </div>
        </div>
        <hr>
        <div class="isotope-wrap">
            <div class="row isotope" data-isotope-layout="masonry" data-isotope-group="gallery"
                 data-lightgallery="group">
                <div class="col-12 col-md-6 col-lg-3 grid-sizer"></div>


                <div class="col-12 col-md-6 col-lg-3 isotope-item wow fadeInLeft" data-filter="Category 1"
                     data-wow-delay=".1s">
                    <a class="portfolio-item thumbnail-classic"
                       href="{% static 'images/haly/for_home/vertical_1.jpg' %}"
                       data-lightgallery="item">
                        <figure>
                            <img src="{% static 'images/haly/for_home/vertical_1.jpg' %}" alt=""
                                 style="width: 420px; height: 584px; object-fit: cover;" loading="lazy">
                        </figure>
                    </a>
                </div>


                <div class="col-12 col-md-6 col-lg-3 isotope-item wow fadeInDown" data-filter="Category 1"
                     data-wow-delay=".2s">
                    <a class="portfolio-item thumbnail-classic"
                       href="{% static 'images/haly/for_home/horizontal_1.jpg' %}"
                       data-lightgallery="item">
                        <figure>
                            <img src="{% static 'images/haly/for_home/horizontal_1.jpg' %}" alt=""
                                 style="width: 420px; height: 278px; object-fit: cover"
                            loading="lazy">
                        </figure>
                    </a>
                </div>


                <div class="col-12 col-md-6 col-lg-3 isotope-item wow fadeInDown" data-filter="Category 1"
                     data-wow-delay=".4s">
                    <a class="portfolio-item thumbnail-classic"
                       href="{% static 'images/haly/for_home/vertical_2.jpg' %}"
                       data-lightgallery="item">
                        <figure>
                            <img src="{% static 'images/haly/for_home/vertical_2.jpg' %}" alt=""
                                 style="width: 420px; height: 584px; object-fit: cover" loading="lazy">
                        </figure>
                    </a>
                </div>


                <div class="col-12 col-md-6 col-lg-3 isotope-item wow fadeInRight" data-filter="Category 1"
                     data-wow-delay=".5s">
                    <a class="portfolio-item thumbnail-classic"
                       href="{% static 'images/haly/for_home/horizontal_2.jpg' %}"
                       data-lightgallery="item">
                        <figure>
                            <img src="{% static 'images/haly/for_home/horizontal_2.jpg' %}" alt=""
                                 style="width: 420px; height: 278px; object-fit: cover" loading="lazy"/>
                        </figure>
                    </a>
                </div>


                <div class="col-12 col-md-6 col-lg-3 isotope-item wow fadeInUp" data-filter="Category 1"
                     data-wow-delay=".3s">
                    <a class="portfolio-item thumbnail-classic"
                       href="{% static 'images/haly/for_home/horizontal_3.jpg' %}"
                       data-lightgallery="item">
                        <figure>
                            <img src="{% static 'images/haly/for_home/horizontal_3.jpg' %}" alt=""
                                 style="width: 420px; height: 278px; object-fit: cover" loading="lazy"/>
                        </figure>
                    </a></div>


                <div class="col-12 col-md-6 col-lg-3 isotope-item wow fadeInRight" data-filter="Category 1"
                     data-wow-delay=".6s">
                    <a class="portfolio-item thumbnail-classic"
                       href="{% static 'images/haly/for_home/horizontal_4.jpg' %}"
                       data-lightgallery="item">
                        <figure>
                            <img src="{% static 'images/haly/for_home/horizontal_4.jpg' %}" alt=""
                                 style="width: 420px; height: 278px; object-fit: cover" loading="lazy">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>