{% extends 'tm/base.html' %}
{% load static %}

{% block titile %}
    Habarlar
{% endblock %}

{% block active_news %}
    active
{% endblock %}

{% block lang_ru %}
	{% url 'news_ru' %}
{% endblock %}

{% block lang_en %}
	{% url 'news_en' %}
{% endblock %}


{% block body %}
    {% if background %}
                <section class="section-lg text-center bg-image"
                         style="background-image: url({{ background.image.url }}); ">
        {% else %}
            <section class="section-lg text-center bg-image"
                     style="background-image: url({% static 'images/for_background.jpg' %}); ">
        {% endif %}

        <div class="container container-fluid">
            <div class="row justify-content-sm-center">
                <div class="col-sm-12 col-xxl-11">
                    <h2 class="text-white">Habarlar</h2>
                    <ul class="breadcrumbs-custom">
                        <li>
                            <a href="{% url 'home' %}">Esasy</a>
                        </li>
                        <li class="active">Ähli habarlar</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-4 py-xl-5">
        <h2>Esasy habarlar</h2>
        <div class="carousel slide pt-4" data-bs-ride="carousel" id="carousel-1" style="height: 600px;">
            <div class="carousel-inner h-100">
                {% for top in top_news %}
                    <div class="carousel-item active h-100">
                        <img class="w-100 d-block position-absolute h-100 fit-cover"
                                                                 src="{{ top.image.url }}"
                                                                 alt="Slide Image"
                                                                 style="z-index: -1;backdrop-filter: blur(0px);filter: blur(20px);">
                        <div class="container d-flex flex-column justify-content-center h-100">
                            <div class="row">
                                <div class="col-md-6 col-xl-4 offset-md-2">
                                    <div style="max-width: 350px;filter: blur(0px);backdrop-filter: blur(0px);">
                                        <h2 class="text-uppercase fw-bold text-white">
                                            {{ top.title|truncatewords:5 }}
                                        </h2>
                                        <p class="my-3 text-white-50">
                                            {{ top.short_description }}
                                            <br>
                                            {% if top.views_count %}
                                                &#128064;: {{ top.news_post.count }}
                                                <br>
                                            {% endif %}
                                            {{ top.date }}
                                        </p>
                                        <a class="button button-effect-ujarak button-lg button-primary-2 button-square"
                                           role="button" href="{% url 'news_one' title=top.slug_title %}">
                                        <span class="text-dark">
                                            Okamak
                                        </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span
                    class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a
                    class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span
                    class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button>
            </div>
        </div>
    </div>

    <div class="container py-4 py-xl-5 mt-0">
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Habarlar</h2>
                <p class="w-lg-50 mt-2" style="font-size: 22px;">Türkmenistandaky ähli habarlar</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for all in all_news %}
                <div class="col-md-3 mt-0">
                    <div class="w-100">
                        <div class="img-fluid border rounded-3 blurIn"
                             style="height: 250px; margin-top: 20px;
                                     background: url({{ all.image.url }}) center / cover;
                                     padding-left: 12px;padding-right: 12px;">
                        </div>
                    </div>
                </div>
                <div class="col-md-8 text-break">
                    <br>
                    <h4>{{ all.title }}</h4>
                    <br>
                    <p>
                        {{ all.short_description }}
                        {% if all.views_count %}
                            <br>
                            &#128064;: {{ all.news_post.count }}
                        {% endif %}
                    </p>
                    <p>
                        {{ all.date }}
                    </p>
                    <a class="mt-2 button button-effect-ujarak button-sm button-primary-2 button-square"
                       role="button" href="{% url 'news_one' title=all.slug_title %}">
                                <span class="text-dark">
                                    Okamak
                                </span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <style>
        h1, h2, h3, p, span {
            font-family: 'Poppins', sans-serif;
        }
    </style>
{#    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>#}

{% endblock %}