{% extends 'en/base.html' %}
{% load static %}

{% block titile %}
    Our Blogs
{% endblock %}

{% block active_blog %}
    active
{% endblock %}

{% block lang_tm %}
    {% url 'blog' %}
{% endblock %}

{% block lang_ru %}
    {% url 'blog_ru' %}
{% endblock %}

{% block body %}
    {% if background %}
        <section class="section-lg text-center bg-image"
                 style="background-image: url({{ background.image.url }}); ">
    {% else %}
        <section class="section-lg text-center bg-image"
                 style="background-image: url({% static 'images/for_background.jpg' %}); ">
    {% endif %}

<div class="container container-fluid">
    <div class="row justify-content-sm-center">
        <div class="col-sm-12 col-xxl-11">
            <h2 class="text-white">Blog</h2>
            <ul class="breadcrumbs-custom">
                <li>
                    <a href="{% url 'home_en' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'home_en' %}#blog">Blog</a>
                </li>
                <li class="active">All Blogs</li>
            </ul>
        </div>
    </div>
</div>
</section>
<div class="container py-4 py-xl-5">
    <h2>Top Blogs</h2>
    <div class="carousel slide pt-4" data-bs-ride="carousel" id="carousel-1" style="height: 600px;">
        <div class="carousel-inner h-100">
            <div class="carousel-item active h-100"><img
                    class="w-100 d-block position-absolute h-100 fit-cover"
                    src="{{ top_1.image.url }}"
                    alt="Slide Image"
                    style="z-index: -1;backdrop-filter: blur(0px);filter: blur(20px);">
                <div class="container d-flex flex-column justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 offset-md-2">
                            <div style="max-width: 350px;filter: blur(0px);backdrop-filter: blur(0px);">
                                <h3 class="text-uppercase fw-bold text-white">
                                    {{ top_1.title_en|truncatewords:5 }}
                                </h3>
                                <p class="my-3 text-white-50">
                                    {{ top_1.short_description_en|truncatewords:10 }}
                                    <br>
                                    {% if top_1.views_count %}
                                        &#128064;: {{ top_1.blog_ip.count }}<br>
                                    {% endif %}
                                    <span>{{ top_1.date }}</span>
                                </p>
                                <a
                                        class="button button-effect-ujarak button-lg button-primary-2 button-square"
                                        role="button"
                                        href="{% url 'blog_en_post' title=top_1.slug_title_en %}">
                                        <span class="text-dark">
                                            Read
                                        </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100"><img
                    class="w-100 d-block position-absolute h-100 fit-cover"
                    src="{{ top_2.image.url }}"
                    alt="Slide Image"
                    style="z-index: -1;backdrop-filter: blur(0px);filter: blur(20px);">
                <div class="container d-flex flex-column justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 offset-md-2">
                            <div style="max-width: 350px;filter: blur(0px);backdrop-filter: blur(0px);">
                                <h3 class="text-uppercase fw-bold text-white">
                                    {{ top_2.title_en|truncatewords:5 }}
                                </h3>
                                <p class="my-3 text-white-50">
                                    {{ top_2.short_description_en|truncatewords:10 }}
                                    <br>
                                    {% if top_2.views_count %}
                                        &#128064;: {{ top_2.blog_ip.count }}<br>
                                    {% endif %}
                                    <span>{{ top_2.date }}</span>
                                </p>
                                <a
                                        class="button button-effect-ujarak button-lg button-primary-2 button-square"
                                        role="button"
                                        href="{% url 'blog_en_post' title=top_2.slug_title_en %}">
                                        <span class="text-dark">
                                            Read
                                        </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span
                class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a
                class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span
                class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button>
        </div>
    </div>
</div>

<div class="container py-4 py-xl-5 mt-0">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>All our Blogs</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for a in all_blogs %}
            <div class="col-md-4 cust_blogteaser" style="padding-bottom: 20px;margin-bottom: 32px;">
                <a href="{% url 'blog_en_post' title=a.slug_title_en %}">
                    <img class="img-fluid rounded" style="height:300px; width: 300px; object-fit:  cover;"
                         src="{{ a.image.url }}" alt="img" loading="lazy">
                </a>
                <h5>
                    {{ a.title_en }}
                    <br>
                </h5>
                <p class="text-secondary">
                    {{ a.short_description_en }}
                </p>
                {% if a.views_count %}
                    <span>
                                        &#128064;: {{ a.blog_ip.count }}
                        </span>
                {% endif %}
                <p>
                    {{ a.date }}
                </p>
                <a class="mt-2 button button-effect-ujarak button-xs button-primary-2 button-square"
                   role="button" href="{% url 'blog_en_post' title=a.slug_title_en %}">
                                    <span class="text-dark">
                                        Read
                                    </span>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<style>
    h1, h2, h3, p, span {
        font-family: 'Poppins', sans-serif;
    }
</style>
{#    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>#}

{% endblock %}