{% load static %}
{% if blog_home %}
    <section id="blog" class="text-center section section-md bg-default text-md-left">
        <div class="container-wide">
            <h3>Blog</h3>
            <a class="heading-link link-gray-darker"
               href="{% url 'blog' %}"> <span>Hemmesini görmek</span>
            </a>
            <hr>
            <div class="owl-carousel owl-carousel-stagePadding" data-items="1" data-md-items="2"
                 data-xxl-items="3" data-dots="false" data-nav="true" data-stage-padding="0"
                 data-xl-stage-padding="100" data-xxl-stage-padding="0" data-loop="true" data-margin="30"
                 data-mouse-drag="false">
                {% for b in blog_home %}
                    <div class="post-box post-box-minimal post-box-horizontal wow fadeInDown" data-wow-delay=".1s">
                        <a class="post-box-image" href="{% url 'blog_post' title=b.slug_title %}">
                            <figure>
                                <img src="{{ b.image.url }}" alt="{{ b.title }}" width="460"
                                     height="369" style="width: 460px;height: 369px; object-fit: cover" loading="lazy">
                            </figure>
                        </a>
                        <div class="post-box-minimal-caption">
                            <div class="post-box-minimal-caption-inner">
                                <h5 class="post-box-minimal-title">
                                    <a href="{% url 'blog_post' title=b.slug_title %}">
                                        {{ b.title }}
                                    </a>
                                </h5>
                                <div class="post-box-minimal-meta-bottom">
                                    <span class="post-box-icon mdi mdi-clock">
                                        {{ b.date|date:"d.m.Y H:i" }}<br>
                                        <a href="{% url 'blog_post' title=b.slug_title %}">
                                           {% if b.views_count %}
                                               &#128064;: {{ b.blog_ip.count }}
                                           {% endif %}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}