{% load static %}
<section class="text-center section section-md bg-default text-md-left">
    <div class="container-wide">
        <h3>Наш Блог</h3>
        <hr>
        <div class="owl-carousel owl-carousel-stagePadding" data-items="1" data-md-items="2"
             data-xxl-items="3" data-dots="false" data-nav="true" data-stage-padding="0"
             data-xl-stage-padding="100" data-xxl-stage-padding="0" data-loop="true" data-margin="30"
             data-mouse-drag="false">
            <div class="post-box post-box-minimal post-box-horizontal wow fadeInDown" data-wow-delay=".1s">
                <a class="post-box-image" href="blog-post.html">
                    <figure><img src="assets/img/home-blog-01-460x369.jpg" alt="" width="460" height="369">
                    </figure>
                </a>
                <div class="post-box-minimal-caption">
                    <div class="post-box-minimal-caption-inner">
                        <h5 class="post-box-minimal-title"><a href="blog-post.html">10 Steps: How to Create
                            a Successful Business From Your Art</a></h5>
                        <div class="post-box-minimal-meta-bottom">
                            <time class="post-box-icon mdi mdi-clock"
                                  datetime="2020">October 12, 2020
                            </time>
                            <p><a class="post-box-icon mdi mdi-thumb-up-outline"
                                  href="blog-post.html">78</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-box post-box-minimal post-box-horizontal wow fadeInUp" data-wow-delay=".25s"><a
                    class="post-box-image" href="blog-post.html">
                <figure><img src="assets/img/home-blog-02-460x369.jpg" alt="" width="460" height="369">
                </figure>
            </a>
                <div class="post-box-minimal-caption">
                    <div class="post-box-minimal-caption-inner">
                        <h5 class="post-box-minimal-title"><a href="blog-post.html">Google Launched Virtual
                            Tours of 50 Museums</a></h5>
                        <div class="post-box-minimal-meta-bottom">
                            <time class="post-box-icon mdi mdi-clock"
                                  datetime="2020">October 26, 2020
                            </time>
                            <p><a class="post-box-icon mdi mdi-thumb-up-outline"
                                  href="blog-post.html">15</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-box post-box-minimal post-box-horizontal wow fadeInDown" data-wow-delay=".3s">
                <a class="post-box-image" href="blog-post.html">
                    <figure><img src="assets/img/home-blog-03-460x369.jpg" alt="" width="460" height="369">
                    </figure>
                </a>
                <div class="post-box-minimal-caption">
                    <div class="post-box-minimal-caption-inner">
                        <h5 class="post-box-minimal-title"><a href="blog-post.html"> 10 Facts From the Life
                            of the Most Expensive Artist of Our Time</a></h5>
                        <div class="post-box-minimal-meta-bottom">
                            <time class="post-box-icon mdi mdi-clock"
                                  datetime="2020">January 22, 2020
                            </time>
                            <p><a class="post-box-icon mdi mdi-thumb-up-outline"
                                  href="blog-post.html">40</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>