{% extends 'ru/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'assets/css/News-Cards.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cards-d_style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Hero-Features-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Lightbox-Gallery-baguetteBox.min.css' %}">
{% endblock %}

{% block titile %}
    Новость
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xxl-12">
                <section>
                    {% for n in news %}
                        <div class="img-fluid border rounded-3 blurIn"
                             style="height: 450px; margin-top: 20px;
                                     background: url({{ n.image.url }}) center / cover;
                                     padding-left: 12px;padding-right: 12px;">

                        </div>
                    {% endfor %}
                </section>
            </div>
            <div class="col-md-4 col-xxl-12">
                <section class="photo-gallery py-4 py-xl-5">
                    <div class="container">
                        {% for n in news%}
                            <div class="row mb-5">
                                <div class="col-md-8 col-xl-6 text-break text-center mx-auto">
                                    <h2>{{ n.title }}</h2>
                                    <p class="w-lg-50">{{ n.short_description }}</p>
                                </div>
                            </div>
                            {{ n.text|safe }}
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div>
                <div class="container">
                    <h3 class="mt-3 mb-3" style="font-family:'Poppins', sans-serif;">
                        Недавние Новости:</h3>
                    {#                        <div class="cust_bloglistintro">#}
                    {#                            <p style="margin-left:34px;color:rgba(255,255,255,0.5);font-size:14px;"></p>#}
                    {#                        </div>#}
                    <div class="row">
                        <div class="col-md-4 cust_blogteaser" style="padding-bottom: 20px;margin-bottom: 32px;"><a
                                href="#"><img class="img-fluid" style="height:auto;"
                                              src="{% static 'images/bg-image-08.jpg' %}"></a>
                            <h3>
                                INS: Claims Executive Forum 2018<br></h3>
                            <p class="text-secondary">
                                Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam
                                in
                                tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id. </p>
                            <a
                                    class="mt-2 button button-effect-ujarak button-xs button-primary-2 button-square"
                                    role="button" href="{% url 'news_ru_one' %}"><span
                                    class="text-dark">Читать</span></a>
                        </div>
                        <div class="col-md-4 cust_blogteaser" style="padding-bottom:20px;margin-bottom:32px;"><a
                                href="#"><img class="img-fluid" style="height:auto;"
                                              src="{% static 'images/bg-image-08.jpg' %}"></a>
                            <h3>
                                INS: Claims Executive Forum 2018<br></h3>
                            <p class="text-secondary">
                                Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam
                                in
                                tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id. </p>
                            <a
                                    class="mt-2 button button-effect-ujarak button-xs button-primary-2 button-square"
                                    role="button" href="{% url 'news_ru_one' %}"><span
                                    class="text-dark">Читать</span></a>
                        </div>
                        <div class="col-md-4 cust_blogteaser" style="padding-bottom:20px;margin-bottom:32px;"><a
                                href="#"><img class="img-fluid" style="height:auto;"
                                              src="{% static 'images/bg-image-08.jpg' %}"></a>
                            <h3>
                                INS: Claims Executive Forum 2018<br></h3>
                            <p class="text-secondary">
                                Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam
                                in
                                tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id. </p>
                            <a
                                    class="mt-2 button button-effect-ujarak button-xs button-primary-2 button-square"
                                    role="button" href="{% url 'news_ru_one' %}"><span
                                    class="text-dark">Читать</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/Lightbox-Gallery.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/Lightbox-Gallery-baguetteBox.min.js' %}"></script>
{% endblock %}