{% extends 'ru/base.html' %}
{% load static %}
{% block titile %}
    Наша Галерея
{% endblock %}
{% block body %}

    <main>
        <!-- Breadcrumbs & Page title-->
        <section class="section-lg text-center bg-image"
                 style="background-image: url({% static 'images/for_background.jpg' %}); ">
            <div class="container container-fluid">
                <div class="row justify-content-sm-center">
                    <div class="col-sm-12 col-xxl-11">
                        <h2 class="text-white">Галерея</h2>
                        <ul class="breadcrumbs-custom">
                            <li>
                                <a href="{% url 'home_ru' %}">Главная</a>
                            </li>
                            <li>
                                <a href="{% url 'home_ru' %}#gallery">Галерея</a>
                            </li>
                            <li class="active">Вся галерея</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-lg-top bg-gray-light text-center">
            <div class="isotope-wrap">
                <ul class="isotope-filters-responsive">
                    <li>
                        <p>Выберите категорию:</p>
                    </li>
                    <li class="block-top-level">
                        <!-- Isotope Filters-->
                        <button class="isotope-filters-toggle button button-sm button-primary"
                                data-custom-toggle="#isotope-1" data-custom-toggle-hide-on-blur="true">
                            Фильтер
                            <span class="caret"></span>
                        </button>
                        <div class="isotope-filters" id="isotope-1">
                            <ul class="inline-list">
                                <li>
                                    <a class="active" data-isotope-filter="*" data-isotope-group="gallery"
                                       href="#">Все</a>
                                </li>
                                <li>
                                    <a data-isotope-filter="Category 1" data-isotope-group="gallery"
                                       href="#">Большие ковры</a>
                                </li>
                                <li>
                                    <a data-isotope-filter="Category 2" data-isotope-group="gallery" href="#">Изделия из
                                        ковров</a>
                                </li>
                                <li>
                                    <a data-isotope-filter="Category 3" data-isotope-group="gallery"
                                       href="#">Аксессуары</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- Isotope Content-->
                <div class="row isotope row-no-gutter" data-isotope-layout="fitRows" data-isotope-group="gallery"
                     data-lightgallery="group">
                    {% for g in gallery_ru %}
                        <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="{{ g.category }}">
                            <a
                                    class="thumbnail-classic"
                                    href="{{ g.image.url }}"
                                    data-lightgallery="item">
                                <figure>
                                    <img src="{{ g.image.url }}" alt="{{ g.name }}" class="p-2"
                                         style="width: 640px; height: 426px; object-fit: cover"/>
                                </figure>
                                <div class="caption">
                                    <p class="caption-title">{{ g.name }}</p>
                                    <p class="caption-text">{{ g.description }}</p>
                                    <p class="caption-text">{{ g.size_of_carpet }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                    {% comment %}
	{#                    <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2">#}
                    {#                        <a#}
                    {#                                class="thumbnail-classic" href="images/grid-gallery-2-1200x800_original.jpg"#}
                    {#                                data-lightgallery="item">#}
                    {#                            <figure>#}
                    {#                                <img src="images/grid-gallery-2-640x426.jpg" alt="" width="640" height="426"/>#}
                    {#                            </figure>#}
                    {#                            <div class="caption">#}
                    {#                                <p class="caption-title">Photo #2</p>#}
                    {#                                <p class="caption-text">Enjoy the best masterpieces of modern fine arts at our#}
                    {#                                    gallery.</p>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 3">#}
                    {#                        <a#}
                    {#                                class="thumbnail-classic" href="images/grid-gallery-3-628x800_original.jpg"#}
                    {#                                data-lightgallery="item">#}
                    {#                            <figure>#}
                    {#                                <img src="images/grid-gallery-3-640x426.jpg" alt="" width="640" height="426"/>#}
                    {#                            </figure>#}
                    {#                            <div class="caption">#}
                    {#                                <p class="caption-title">Photo #3</p>#}
                    {#                                <p class="caption-text">Enjoy the best masterpieces of modern fine arts at our#}
                    {#                                    gallery.</p>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1">#}
                    {#                        <a#}
                    {#                                class="thumbnail-classic" href="images/grid-gallery-4-666x800_original.jpg"#}
                    {#                                data-lightgallery="item">#}
                    {#                            <figure>#}
                    {#                                <img src="images/grid-gallery-4-640x426.jpg" alt="" width="640" height="426"/>#}
                    {#                            </figure>#}
                    {#                            <div class="caption">#}
                    {#                                <p class="caption-title">Photo #4</p>#}
                    {#                                <p class="caption-text">Enjoy the best masterpieces of modern fine arts at our#}
                    {#                                    gallery.</p>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 3">#}
                    {#                        <a#}
                    {#                                class="thumbnail-classic" href="images/grid-gallery-5-1200x831_original.jpg"#}
                    {#                                data-lightgallery="item">#}
                    {#                            <figure>#}
                    {#                                <img src="images/grid-gallery-5-640x426.jpg" alt="" width="640" height="426"/>#}
                    {#                            </figure>#}
                    {#                            <div class="caption">#}
                    {#                                <p class="caption-title">Photo #7</p>#}
                    {#                                <p class="caption-text">Enjoy the best masterpieces of modern fine arts at our#}
                    {#                                    gallery.</p>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2">#}
                    {#                        <a#}
                    {#                                class="thumbnail-classic" href="images/grid-gallery-6-1200x783_original.jpg"#}
                    {#                                data-lightgallery="item">#}
                    {#                            <figure>#}
                    {#                                <img src="images/grid-gallery-6-640x426.jpg" alt="" width="640" height="426"/>#}
                    {#                            </figure>#}
                    {#                            <div class="caption">#}
                    {#                                <p class="caption-title">Photo #8</p>#}
                    {#                                <p class="caption-text">Enjoy the best masterpieces of modern fine arts at our#}
                    {#                                    gallery.</p>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </div>#}
{% endcomment %}

                </div>
            </div>
        </section>
    </main>
{% endblock %}