{% extends 'en/base.html' %}
{% load static %}

{% block title %}
    Turkmen Carpet - About Us
{% endblock %}

{% block active_about_us %}
    active
{% endblock %}

{% block lang_tm %}
    {% url 'about_us' %}
{% endblock %}

{% block lang_ru %}
    {% url 'about_us_ru' %}
{% endblock %}


{% block body %}
    {% if background %}
            <section class="section-lg text-center  bg-image"
                     style="background-image: url({{ background.image.url }}); ">
    {% else %}
        <section class="section-lg text-center bg-image"
                 style="background-image: url({% static 'images/for_background.jpg' %}); ">
    {% endif %}

<div class="container container-fluid">
    <div class="row justify-content-sm-center">
        <div class="col-sm-12 col-xxl-11">
            <h2 class="text-white">About Us</h2>
            <ul class="breadcrumbs-custom">
                <li>
                    <a href="{% url 'home_en' %}">Home</a>
                </li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
</section>
    <div class="mb-5 mt-5 container">
        <div id="carouselExampleIndicators" class="carousel slide mb-4">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/turkmenhali_2.jpg' %}" loading="lazy" class="d-block" width="1300"
                         height="500" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/turkmenhali_3.jpg' %}" loading="lazy" class="d-block w-100"
                         style="width: 1300px; height: 750px;" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2 class="mb-2" style="font-family: 'Poppins', sans-serif;">About state association</h2>
        <hr>
        <p style="font-size: 20px; color: #1b1b1b" class="text-left text-break">
            The state association «Turkmenhaly» is the main supplier of renowned Turkmen handmade pure-wool fleecy
            carpets from Turkmenistan to the world market.
            The main activities of the association are production and sales of Turkmen carpets and carpet products,
            conservation of hand carpet making tradition, and regeneration of old carpet ornaments and products.
            State association «Turkmenhaly» includes 8 enterprises of art carpet making and these enterprises have many
            carpet making sites and workshops located in all provinces of Turkmenistan. Around 5 thousand carpet-makers
            work in art carpet making enterprises.
            Along with ornamental, plot carpets, portrait rugs, and souvenir items, classical models of Turkmen carpets
            are mainly produced in the carpet factories of the corporation. This is induced not only by the high demand
            for the carpets in internal and external markets, but first of all due to the fact that this is the great
            legacy of art culture of Turkmen nation.
            The distinctive feature of Turkmen carpets is their amazing beauty and durability, which are built in the
            traditions of carpet quality. During the centuries-old history of its existence the carpet art has achieved
            high perfection and artistic expressiveness of patterns. The history of the origin of Turkmen nation, its
            philosophy and world – views are laid in the patterns of Turkmen carpets.
            Based on the implementation technique and aesthetic content the Turkmen carpet belongs to antiques category.
            One of the main qualities of Turkmen carpet is its high density, which comprises from 200 to 400 thousand
            and more knots in a square meter. Thanks to high density the carpet ornament is accurate and expressive. The
            range of colors of the carpet is restrained and noble.
            The Turkmen carpet has one more amazing quality. Not getting old with years, it acquires new features:
            colors become nobler and the surface becomes velvety.</p>
    </div>
{% endblock %}
