{% extends 'en/base.html' %}
{% load static %}
{% load background_tag %}

{% block title %}
    Turkmen Carpet
{% endblock %}

{% block active_main %}
    active
{% endblock %}

{% block lang_tm %}
    {% url 'home' %}
{% endblock %}

{% block lang_ru %}
    {% url 'home_ru' %}
{% endblock %}

{% block body %}
    <main>
        <section id="home" class="section section-layout section-xxs">

            {% back_home %}

            <div class="row justify-content-sm-center row-30 row-custom">
                <div class="col-md-12 col-xl-7">
                    <div class="section-layout-main">
                        <div class="section-main-content">
                            <div class="container text-md-left">
                                <h1 class="text-break"
                                    style="font-size: 50px;text-align: left;margin-bottom: 16px; ">Ashgabat enterprise
                                    <br>
                                    <strong>of artistic carpets</strong>
                                </h1>
                                <div class="slider-subtitle-group" style="margin-left: 2px;">
                                    <div class="decoration-line"></div>
                                    <h4>Best carpets</h4>
                                    <h3>in Central Asia</h3>
                                </div>
                                <a class="button button-effect-ujarak button-lg button-primary-2 button-square"
                                   href="{% url 'home_en' %}#gallery">
                                    <span>Details</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-5 d-xl-flex">
                    <div class="row justify-content-sm-center row-30" style="flex:1 1 auto;">
                        <div class="section-layout-aside">
                            <div class="section-layout-aside__item">
                                <a class="thumb-modern" href="{% url 'news_en' %}">
                                    <span style="font-family: 'Poppins', sans-serif;"
                                          class="font-weight-bold">News</span>
                                </a>
                            </div>
                            <div class="section-layout-aside__item">
                                <a class="thumb-modern" href="{% url 'home_en' %}#gallery">
                                        <span style="font-family: 'Poppins', sans-serif;"
                                              class="font-weight-bold">Carpets</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section id="about-us" class="text-center section section-md bg-default text-md-left">
            <div class="container-wide">
                <div class="row justify-content-sm-center row-50 overflow-hidden">
                    <div class="col-lg-6 col-xl-7 wow fadeInUp justify-content-md-center" data-wow-delay=".2s">
                        <video
                                controls
                                preload="none"
                                width="100%"
                                height="auto"
                                poster="{% static 'images/musei-kovra.jpg' %}"
                                data-setup="{% static 'images/5.1 Концепция MVC и MTV.mp4' %}"
                        >
                            <source src="{% static 'images/5.1 Концепция MVC и MTV.mp4' %}" type="video/mp4"/>
                        </video>


                        {#                                                <div class="jp-video-init">#}
                        {#                                                    <div class="jp-video jp-video-single">#}
                        {#                                                        <div class="jp-type-playlist">#}
                        {#                                                            <ul class="jp-player-list">#}
                        {#                                                                <li class="jp-player-list-item"#}
                        {#                                                                    data-jp-m4v="{% static 'images/5.1 Концепция MVC и MTV.mp4' %}"#}
                        {#                                                                    data-jp-title="local video"#}
                        {#                                                                    data-jp-poster="{% static 'images/turk32.jpg' %}">#}
                        {#                                                                </li>#}
                        {#                                                            </ul>#}
                        {#                                                            <div class="jp-jplayer"></div>#}
                        {#                                                            <div class="jp-gui">#}
                        {#                                                                <div class="jp-interface">#}
                        {#                                                                    <div class="jp-controls-holder">#}
                        {#                                                                        <a class="jp-play mdi mdi-play" tabindex="1"></a>#}
                        {#                                                                        <a class="jp-pause mdi mdi-pause" tabindex="1"></a></div>#}
                        {#                                                                </div>#}
                        {#                                                            </div>#}
                        {#                                                            <div class="jp-playlist">#}
                        {#                                                                <ul>#}
                        {#                                                                    <li></li>#}
                        {#                                                                </ul>#}
                        {#                                                            </div>#}
                        {#                                                        </div>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                    </div>
                    <div class="col-lg-6 col-xl-5 d-flex wow fadeInDown" data-wow-delay=".3s">
                        <div class="bg-secondary-3 section-wrap-content-var-1">
                            <div class="section-wrap-content-var-1-inner ">
                                <h2>About Us</h2>
                                <p class="text-left mt-3">
                                    The state association «Turkmenhaly» is the main supplier of renowned Turkmen
                                    handmade pure-wool fleecy carpets from Turkmenistan to the world market.
                                    The main activities of the association are production and sales of Turkmen carpets
                                    and carpet products, conservation of hand carpet making tradition, and regeneration
                                    of old carpet ornaments and products.
                                    State association «Turkmenhaly» includes 8 enterprises of art carpet making and
                                    these enterprises have many carpet making sites and workshops located in all
                                    provinces of Turkmenistan. Around 5 thousand carpet-makers work in art carpet making
                                    enterprises.
                                </p>

                                <div class="d-flex group">
                                    <dl class="list-desc">
                                        <dt>Mn-Fr:</dt>
                                        <dd><span>09:00–18:00</span></dd>
                                    </dl>
                                </div>
                                <a class="button button-effect-ujarak button-lg button-secondary-outline-2 button-square"
                                   href="{% url 'about_us_en' %}">
                                    <span>Read more...</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {#gallery#}
        {% include 'en/gallery/gallery-for-home.html' %}
        {#price#}
        {% include 'en/price.html' %}
        {#Blog#}
        {% include 'en/blog/blog-for-home.html' %}
    </main>
{% endblock %}